---
name: release
run-name: Release Iplike builder OCI for CICD infrastructure
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'  # Only version tags like v1.0.0
jobs:
  oci-builder:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Create Dockerfile
        run: make Dockerfile
      - name: Login to Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Build and push container image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/indigo423/iplike-builder:0.0.1.b${{ github.run_number }},ghcr.io/indigo423/iplike-builder:latest
